*.iml
hs_err_pid*
*.pyc
.idea/
.idea_modules/
bin/hotspot
# lib/hsdis-amd64.dylib
build/*.jar
build/apache-maven*
build/scala*
build/zinc*
dependency-reduced-pom.xml
scalastyle-on-compile.generated.xml
scalastyle-output.xml
scalastyle.txt
target/

# For waf
.lock-waf*
.waf-*
lib/lljvm-native/build
clang+llvm-*
llvm-*.src
