*.iml
hs_err_pid*
*.pyc
.idea/
.idea_modules/
build/*.jar
build/apache-maven*
build/scala*
build/zinc*
dependency-reduced-pom.xml
scalastyle-on-compile.generated.xml
scalastyle-output.xml
scalastyle.txt
target/

# For waf
.lock-waf*
.waf-*
src/main/resources/lljvm-backend/build

